.span-title {
  display:block;
  top:0;
  left:0;
  height: 24px;
  margin-bottom: 28px;

  font-size: 17px;
  font-weight: 600;
  color: rgb(255, 255, 255);
}

.user-info {
  color:rgb(255, 255, 255, 0.8);
  padding:0;
  border-top: 1px solid rgb(255, 255, 255 , 0.1);;
}

