.Input {
  display: block;
  font-size: 13px;
  font-weight: 500;
  opacity: 0.8;
}

.Input span {
  display:block;
  height: 39px;
  line-height: 39px;
  margin-top: 5px;
  padding-left: 10px;
}

.Input input {
  display: block;
  width: 358px;
  height:48px;
  border-radius:24px;
  border-width: 0;

  padding-left: 20px;
  background-color: rgb(29, 30, 31);
  color: #FFFFFF;
  font-size: 13px;
}

.Input input.error {
  border: 0.5px solid #cf000f;
}

.Input input.success {
  border: 0.5px solid #009944;
}
