.sign-in-group {
  display: flex;
  justify-content:space-between;
  margin-top: 32px;
  margin-bottom: 19px;
}

.sign-in-group button {
  display: inline-block;
  padding-left:20px;
  padding-right:20px;
  height: 45px;
  border-radius:22.5px;
  background-color: #00A2E0;

  font-size: 15px;
  color: rgb(255, 255, 255);
  font-weight:800;
  font-family: Futura-CondensedExtraBold, Futura;
  cursor: pointer;
}

.sign-in-group span {
  height: 45px;
  line-height: 45px;

  font-size: 13px;
  font-family: Inter-Medium, Inter;
  font-weight: 500;
}

.sign-in-group .go-change-operation {
  cursor: pointer;
  color: rgb(0, 162, 224);
}

.go-change-operation:hover {
  color: rgb(3 185 255);
}
