.bar {
  display: flex;
  justify-content: center;
  li {
    width:25px;
    height: 5px;
    border-radius: 5px;
    background-color: #282a2c;
    margin-right: 5px;
  }
  .active {
    background-color: #00a2e0;
  }
}

.arrow {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  
  li {
    display: flex;
    justify-content:center;
    align-items: center;

    width: 35px;
    height: 35px;
    background-color: #282a2c;
    border-radius: 5px;
    margin-left: 10px;

    cursor: pointer;
  }

  li:hover svg {
    fill: #00a2e0; 
  }
  .arr-right {
    margin-right: 75px;
  }
  svg {
    width: 20px;
    fill: #505254;
  }
  .available svg {
    fill: #00a2e0; 
  }
}
